@{
    ViewData["Title"] = "Hello mockups";
}

<h1>Mockups</h1>

<ul>
    <li><a asp-controller="Home" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="Home" asp-action="Result">Quiz result</a></li>
</ul>